@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  background-image: url(/521111.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  color: white;
  animation: slide 20s infinite;
  background-repeat: no-repeat;
}

@keyframes slide {
  0% {
    background-image: url(/521111.jpg);
  }

  20% {
    background-image: url(/139745-electronics-light-stage-design-technology-4096x2725.jpg);
  }

  40% {
    background-image: url(/664615-work-space-hd-wallpaper-background.jpg);
  }

  60% {
    background-image: url(/photo-1555099962-4199c345e5dd.jpg);
  }

  80% {
    background-image: url(/photo-1555143152-c04e6f5ba6ec.jpg);
  }

  100% {
    background-image: url(/circadian-clock-night-owl-neurosciencnews-public.jpg);
  }
}
.header {
  display: flex;
  justify-content: center;
}
.nav-bar {
  display: flex;
  background: transparent;
  width: 90%;
  height: 6em;
  justify-content: flex-end;
  align-items: center;
}
ul {
  display: flex;
}
ul li {
  display: inline;

  margin-left: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.96rem;
}
a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}
.sign-in-list {
  color: rgb(0, 183, 255);
  transition: 0.5s;
}
.sign-in-list:hover {
  color: white;
}
a:hover,
a:focus {
  margin-top: 2px;
}
.mid-container {
  background: transparent;
  width: 100%;
  height: 41.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  background: transparent;
  width: 95%;
  height: 40em;
}
.left-side-of-main-container {
  background: transparent;
  width: 50%;
  height: 40em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 2.5rem;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: -5em;
  font-size: 1.2rem;
}
.sign-up {
  font-size: 2.5rem;
}
input {
  width: 27em;
  height: 1.9em;
  display: flex;
  border-radius: 0px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #69a6f6;
  background: #eeeeee;
  letter-spacing: 2px;
  transition: 1s;
  outline: none;
  line-height: 26px;
  flex-direction: row;
  line-height: 26px;
  margin-bottom: 10px;
}
::placeholder {
  color: #69a6f6;
  font-size: 0.9rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
input:hover,
input:focus {
  border-color: #057aff;
  width: 28em;
}
label {
  display: flex;
  flex-direction: row;
  line-height: 26px;
  margin-bottom: 10px;
}
.button {
  width: 6em;
  height: 2.2em;
  border-radius: 5px;
  background: rgb(50, 155, 85);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  transition: 0.5s;
}
.button:hover,
.button:focus {
  width: 7em;
  color: black;
}
.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20em;
  background: transparent;
}
.info {
  display: flex;
  justify-content: space-around;
  margin-left: 7em;
  background: transparent;
  width: 100%;
  height: 10em;
}
.info p {
  width: 9em;
}
strong {
  color: rgb(41, 111, 240);
}
